@model ShopTARge22.Models.RealEstates.RealEstateImageViewModel

<form asp-action="DeleteImageFromDatabase">
    <div class="form-group row col-sm-4 offset-2 text-center">
        <input type="hidden" asp-for="@Model.ImageId" />
        <div class="mb-2"> @Model.ImageTitle </div>
        <img class="card-img-top mb-3" src="@Model.Image" asp-append-version="true" />
        <div class="d-flex justify-content-center mb-3">
           <input type="submit" value="Delete Image" class="btn btn-danger btn-sm";" />
        </div>
    </div>
</form>